{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "ecmaFeatures": {
    "classes": true,
    "modules": true
  },
  "rules": {
    "eol-last": "error",
    "max-len": ["error", 120, 4],
    "no-underscore-dangle": [0],
    "no-var": "error",
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never"
    }],
    "strict": ["error", "global"],
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"]
  }
}
